@import url('https://fonts.googleapis.com/css?family=poppings');

body{
	font-family: 'poppings', sans-serif;
    font-size: 16px;
    background-color: #D9D9D9;
    color: #333;
}

i {
	margin-right: 10px;
}


.nav-link {
    font-size: 15px;
    color: #2B35AF;
}

.nav-link:hover {
    color: black;
    text-decoration: underline;
    text-underline-offset: 0.5em;
}

.c-item {
    height:400px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter:brightness(0.4); 
}

.c-caption {
    text-align: left;
    margin-bottom: 5%;
}

.c-caption h1 {
    font-size: 2rem;
    font-weight: bold;
}

.home-opener {
    padding: 5%;

}
.home-opener h1 {
    color: #2B35AF;
}



/***************************project section****************************/




/***************************services.html****************************/
/***Services section***/
[id] {
    scroll-margin-top: 65px; 
}

#NLP {
    scroll-margin-top: 340px; 
}

/*Blogs*/
.card-img-container {
    position: relative;
  }

  .card-img-container img {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(40%);
  }

  .card-img-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: bold;
  }


/* Project */
  .custom-outline-blue {
    border: 2px solid #2B35AF;
    color: #2B35AF;
    background-color: transparent;
  }
  .custom-outline-blue:hover {
    background-color: #2B35AF;
    color: #fff;
  }

  .fixed-card {
    height: 420px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .card-img-top {
    height: 200px;
    object-fit: cover;
    filter: brightness(50%);
  }

  .card-content-wrapper {
    overflow-y: auto;
    padding: 1rem;
    flex: 1;
  }

  .card-title {
    font-weight: bold;
  }

  .card-text {
    max-height: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .btn-wrap {
    text-align: right;
    margin-top: auto;
  }

/*Button*/
.custom-outline-blue {
    border: 2px solid #2B35AF;
    background-color: transparent;
    color: black;
  }
  
  .custom-outline-blue:hover {
    background-color: #2B35AF;
    color: white;
  }