@import url('https://fonts.googleapis.com/css?family=poppings');

body{
	font-family: 'poppings', sans-serif;
    font-size: 16px;
    background-color: #D9D9D9;
    color: #333;
}

i {
	margin-right: 10px;
}


.nav-link {
    font-size: 15px;
    color: #2B35AF;
}

.nav-link:hover {
    color: black;
    text-decoration: underline;
    text-underline-offset: 0.5em;
}

.c-item {
    height:400px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter:brightness(0.4); 
}

.c-caption {
    text-align: left;
    margin-bottom: 5%;
}

.c-caption h1 {
    font-size: 2rem;
    font-weight: bold;
}

.home-opener {
    padding: 5%;

}
.home-opener h1 {
    color: #2B35AF;
}



/***************************project section****************************/




/***************************services.html****************************/
/***Services section***/
[id] {
    scroll-margin-top: 65px; 
}

#NLP {
    scroll-margin-top: 340px; 
}
