@import url('https://fonts.googleapis.com/css?family=poppings');

body{
	font-family: 'poppings', sans-serif;
    font-size: 16px;
    background-color: #D9D9D9;
    color: #333;
}

i {
	margin-right: 10px;
}


.nav-link {
    font-size: 15px;
    color: #2B35AF;
}

.nav-link:hover {
    color: black;
    text-decoration: underline;
    text-underline-offset: 0.5em;
}

.c-item {
    height:400px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter:brightness(0.4); 
}

.c-caption {
    text-align: left;
    margin-bottom: 5%;
}

.c-caption h1 {
    font-size: 2rem;
    font-weight: bold;
}


/***************************project section****************************/




/***************************services.html****************************/
/***Services section***/
[id] {
    scroll-margin-top: 65px; 
}

#NLP {
    scroll-margin-top: 340px; 
}

/*Blogs*/
.card-img-container {
    position: relative;
  }

  .card-img-container img {
    width: 100%;
    height: auto;
    display: block;
    filter: brightness(40%); /* dim the image */
  }

  .card-img-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem 1rem;
    color: #fff;
    font-weight: bold;
  }

/*Button*/
.custom-outline-blue {
    border: 2px solid #2B35AF;
    background-color: transparent;
  }
  
  .custom-outline-blue:hover {
    background-color: #2B35AF;
    color: #fff;
  }